@import url('https://fonts.googleapis.com/css2?family=Poppins:200,300,400,500,600,700,800&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    /* background: #000; */
    background-image: url('https://wallpaperaccess.com/full/170249.jpg');
    background-repeat: no-repeat;
    background-size: 100%;
    transition: 5s;
}
.logo {
    margin: -25px 0 0 -25px;
    z-index: 1;
    position: absolute;
    color: #fff;
    font-size: 10em;
    text-shadow: 0 0 50px #0f0,
                0 0 100px #0f0,
                0 0 150px #0f0,
                0 0 200px #0f0,
                0 0 250px #0f0;
    animation: animate 5s linear infinite;
}
@keyframes animate{
    0%{
        filter: hue-rotate(0deg);
    }
    100%{
        filter: hue-rotate(360deg);
    }
}
section{
    width: 100%;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    transition: 5s;
}
section::before{
    content: '';
    position: absolute;
    width: 240px;
    height: 240px;
    border-radius: 50%;
    transform: translate(-150px, -100px);
}
section.dark{
    background-image: url('https://i.pinimg.com/originals/b7/4b/2d/b74b2dfeca58f0955c51876c24fcf227.jpg');
    background-repeat: no-repeat;
    background-size: 100%;
}
section::after{
    content: '';
    position: absolute;
    width: 250px;
    height: 250px;
    border-radius: 50%;
    transform: translate(150px, 150px);
}
.box{
    top: 0px;
    right: 0px;
    position: absolute;
    width: 240px;
    height: 300px;
    background: rgba(255,255,255,0.1);
    z-index: 1;
    box-shadow: 0 25px 45px rgba(0,0,0,0.25);
    border: 1px solid rgba(255,255,255,0.25);
    border-right: 1px solid rgba(255,255,255,0.1);
    border-bottom: 1px solid rgba(255,255,255,0.1);
    backdrop-filter: blur(25px);
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.parent{
    width: 100%;
}
@keyframes huerotate{
    0%{
        filter: hue-rotate(0deg);
    }
    100%{
        filter: hue-rotate(360deg);
    }
}
.content {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.box h3{
    color: #fff;
    font-weight: 500;
    font-size: 1.2em;
    letter-spacing: 1px;
}
.batteryShape{
    position: relative;
    width: 140px;
    height: 65px;
    margin: 20px 0;
    border: 3px solid #333;
    border-radius: 10px;
}
.batteryShape::before{
    content: '';
    position: absolute;
    top: 50%;
    right: -12px;
    transform: translateY(-50%);
    width: 7px;
    height: 16px;
    background: #333;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
}
.batteryShape::after{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 50%;
    background: rgba(255, 255, 255, 0.1);
}
.level {
    position: absolute;
    top: 4px;
    left: 4px;
    right: 4px;
    bottom: 4px;
    /* background: ; */
    border-radius: 4px;
    overflow: hidden;
}
.percentage{
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 50%;
    background: linear-gradient(90deg, #9c28af, #fd2c72);
    /* animation: huerotate 5s linear infinite; */
}
.percent {
    color: #fe3177;
    font-size: 2em;
    font-weight: 700;
}
.toggle{
    position: absolute;
    bottom: 20px;
    right: 20px;
    background: #161623;
    width: 30px;
    height: 30px;
    cursor: pointer;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.toggle::before{
    content: '\f186';
    font-family: fontAwesome;
    color: #fff;
}
.dark .toggle {
    background: #fff;
}
.dark .toggle::before {
    content: '\f185';
    color: #161623;
}
